@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl p-1 transition-all;
  }
  h2 {
    @apply text-2xl p-1 transition-all;
  }
  h3 {
    @apply text-xl p-1 transition-all;
  }
  h4 {
    @apply text-lg p-1 transition-all;
  }
  h5 {
    @apply text-sm p-1 transition-all;
  }
  h6 {
    @apply text-xs p-1 transition-all;
  }
  button {
    @apply rounded-3xl p-3 text-black border-2 border-slate-400 mt-1 transition-all hover:border-gray-300;
  }
  input {
    @apply rounded-3xl p-3;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
